body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbarListado {
  list-style: none;
  display: flex;
  align-items: flex-start;
  color: #000000;
  margin: 0;
  padding: 0;
}

.navbarItems{
  margin: 0 20px;
  align-items: flex-start;
  margin-top: 35px;
}

.navbar-home{
  text-decoration: none;
  color: #000000;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}